@charset "utf-8";

.scroll-off {
  overflow: hidden;
}

.btn-center {
  margin: 0 auto;
}

.hide {
  display: none !important;
}
@import "css-parts/visually-hidden";
@import "css-parts/online-form";
@import "css-parts/itc-select";
@import "css-parts/calenfar";
@import "css-parts/reception-time";
@import "css-parts/input-list";
@import "css-parts/form-result";
