.input-list {
  margin: 0 !important;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  li {
    padding: initial;
    margin: 0;
    &::before {
      display: none;
    }
  }

  .write-inputs:not(:placeholder-shown) {
    color: #000000;
    border-color: #34358c;
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }
}
