.itc-select {
  &__toggle {
    font-weight: 400;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.2;
    color: rgba(#343d42, 0.7);
    padding: 20px 24px;
    border: 1px solid;
    border-color: rgba(#34358c, 0.2);
    border-radius: 8px;
    background-color: #fff;
    font-style: initial;

    display: block;
    text-align: left;
    width: 100%;
    padding-right: 30px !important;
    box-sizing: border-box;

    &:not([value=""]) {
      color: #000000;
      border-color: rgba(#34358c, 1);
    }

    &::after {
      transition: all 0.3s;
      background-image: url(./img/new-images/icon1.svg);
      width: 18px;
      height: 11px;

      position: absolute;
      top: 40%;
      right: 18px;
    }

    // активные классы
    &:active {
      border-color: rgba(#34358c, 1);
    }
  }
  &__dropdown {
    top: 100%;
    margin-top: -1px;
    max-height: 400px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 8px 32px rgba(52, 61, 66, 0.2);
    position: absolute;
    z-index: 9999;
  }

  &__option {
    font-weight: 400;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.2;
    color: rgba(#343d42, 0.7);
    padding: 20px 24px;
  }

  &_show {
    .itc-select__toggle {
      border-radius: 8px 8px 0 0;
    }
  }

  .itc-select__toggle {
    padding: 20px 12px;
  }

  .itc-select__option_selected {
    color: #000000;
  }

  @media (max-width: 768px) {
    &__toggle {
      font-size: 16px;
    }
    &__option {
      font-size: 16px;
      line-height: 1.2;
      padding: 1em;
    }
  }
  @media (max-width: 374px) {
    &__toggle,
    .itc-select__toggle {
      font-size: 13px;
    }
  }
}
