.reception-time {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
  li {
    max-width: calc(100% / 8 - 7px);
    width: 100%;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #343d42;
    background-color: #fff;
    // border: 1px solid #d6d7e8;
    // border-radius: 8px;
    margin: 0;
    padding: initial;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;

    &::before {
      display: none;
    }


  }

  label {
    color: inherit;
    font-family: inherit;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    // border: 1px solid #d6d7e8;
    box-shadow: inset 0 0 0 1px #d6d7e8;
    border-radius: 8px;
  }

  input:not([disabled]) + label {
    background-color: #42a53b !important;
    color: #e3eef4 !important;
    font-family: inherit;
    cursor: pointer;
    position: relative;
    box-shadow:  none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-clip-path: circle(0 at 0 100%);
      clip-path: circle(0 at 0 100%);
      -webkit-transition: -webkit-clip-path 0.65s ease;
      transition: -webkit-clip-path 0.65s ease;
      transition: clip-path 0.65s ease;
      transition: clip-path 0.65s ease, -webkit-clip-path 0.65s ease;
    }

    &:hover::before {
      -webkit-clip-path: circle(150% at 0 100%);
      clip-path: circle(150% at 0 100%);
    }
  }

  input:checked + label {
    background-color: #E4097F !important;
    color: #e3eef4 !important;
    font-family: inherit;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    li {
      max-width: calc(100% / 4 - 7px);
    }
  }

  @media (max-width: 768px) {
    li {
      max-width: calc(50% - 3.5px);
    }
    .online-form__title {
      padding: 0;
    }
  }



}
